:root{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    background-image: linear-gradient(to top right, rgb(73, 18, 98),black);
    color: white;
}

/* top div(wrapper) */
.wrapper{
    width: 75vw;
    height: 70vh;
    /* text-align: center; */
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 170px;
    margin-top: 120px;
}

.header{
    font-size:13px;
    position: relative;
}

/* to make text non selecatable*/
.prevent-select{
    user-select:none;
}

.copyMsgDiv{
    position: absolute;
    margin-top: 80px;
    margin-left: 400px;
    scale: 0;
}

.copyMsgDivActive{
    scale: 1;
}

/* paswd Length Card */
.card1{
    width: 20vw;
    height: 5vh;
    position: absolute;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 15px;
    padding: 10px;

    .copyBtn{
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: aliceblue;
    }
}

.copyBtn img{
    height: 30px;
    width: 30px;
}

.copyBtn img:hover{
    cursor: pointer;
}

.card1Input{
    /* margin-top: 4px; */
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: transparent;
}
.card1Input::placeholder{
    color: rgb(255, 255, 255);
}


.passwordLen{
    margin-right: 40px;
}


/* main Card */
.card2{
    width: 20vw;
    height: 48vh;
    position: absolute;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
}

.lengthData{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.slider{
    margin-left: 5px;
}

.slider input:hover{
    cursor: pointer;
}

.checkboxes{
    margin-top: 20px;
    line-height: 30px;
    margin-left: 8px;
}

.strength{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.strengthText{
    margin-left: 8px;
}

.strengthColor{
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 35px;
}

.generatePswd{
    margin-top: 30px;
    /* margin-left: 15px; */
    display: flex;
    justify-content: center;
}

.generateBtn{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
}